*{
margin: 0;
padding: 0;
box-sizing: borderbox;
}

html {
height: 100%;
}

img {
  width:100%;
  height:auto;
  display:block;
}

img:hover {
	cursor:pointer;
}

a {
	color: #000000;
	text-decoration:none;

}

a:hover {
 	color: #0000FF;
  cursor: pointer;
}



h2 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  color: #000;
  text-align: left;
  line-height: 1.5rem;
  color: #000000;
}



p {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #000000;
  font-size:0.9rem;
}

.navText{
  text-align: right !important;
}

.otherImage{
  max-width:400px;
  display:none;
}

.coverImage{
  max-width:400px;
  display:none;
}
.writingImage{
  width:90%;
}

.carouselImage{

  max-height:75vh;
  width:auto;
  display:block;
  float:right;


}

#blockCarousel{
  display:block;
}

.carousel-control-prev-icon {
    position: absolute;
    bottom: 810px;
    left: 20px;
    width:12%;
}

.carousel-control-next-icon {
    position: absolute;
    bottom: 810px;
    right: 50px;
    width:12%;
}
#spacing {
  display:none;
  height: 20%;
}

.arrows:hover {
  cursor:pointer;

}

.arrows{
  margin:1.5rem;
  padding:0;
}

#nextArrow{
  margin-right:0rem;
}

#wearableReel{
  display:none;
}
#wearableSelin{
  display:none;
}
