*{
margin: 0;
padding: 0;
box-sizing: borderbox;
}

html {
height: 100%;
}


}
.about{
  height 100%;
}

img {
  width:100%;
  height:auto;
  display:block;
}

img:hover {
	cursor:pointer;
}

h1 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  text-align: right;
  line-height: 1em;
}

h1:hover {
	color: #EC6E60;
	cursor:pointer;
}

a {
	color: #000;
	text-decoration:none;
  line-height: 1em;
}



a:hover {
 	color: #EC6E60;
}


h2 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  color: #000;
  text-align: left;
}

h2:hover {
	color: #EC6E60;
	cursor: pointer;
}

h3 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  font-size: 25px;

}

p {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;

}

.navText{
  text-align: right !important;
}

.otherImage{
  max-width:400px;
  display:none;
}

.coverImage{
  max-width:400px;
  display:none;
}
#aboutImage {
	max-width:400px;
  display:none;

}

#spacing {
  display:none;
  height: 20%;
}
