*{
margin: 0;
padding: 0;
box-sizing: borderbox;
}

html {
height: 100%;
}

@media only screen and (orientation: portrait) {
  body {
   background-color: lightblue;*/
    }

  .coverImage {
		width: 100%;
		}

}

img {
  width:100%;
  height:auto;
  display:block;
}

img:hover {
	cursor:pointer;
}

h1 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  text-align: right;
  float:right;
  padding-right: 5px;
  font-size: 25px;
  clear: right;
}

h1:hover {
	color: #EC6E60;
	cursor:pointer;
}

a {
	color: #000;
	text-decoration:none;
}

a:hover {
 	color: #EC6E60;
}
.navigation {
	position:absolute;
}

.topSection {
	position:fixed;
	width:99%;
	padding: 5px;
}

h2 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  font-size: 25px;
  color: #000;
  text-align: right;
  float:right;
  padding-right: 5px;
  display: block;
  clear: right;

}

h2:hover {
	color: #EC6E60;
	cursor: pointer;
}

h3 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  font-size: 25px;

}

p {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
}

.coverImage {
		width: 25%;
		position:absolute;
		display: none;
}

.expandedProject {
	display:none
}

.otherImage {
	display: block;
	width:25%
	}

.projectText {
  display:block;
  width: 20%;
  position:fixed;
  top: 32px;
  padding: 5px;

}

.about {
	width:100%;
	position:absolute;
	z-Index:2;

}

.projectTitle {
	position: fixed;
	bottom: 0px;
	padding: 5px;
}

#aboutText {
	display:none;
	width: 20%;
  	position:fixed;
  	top: 70px;
  	padding: 5px;
}

#aboutImage {
	max-width:400px;
	display: none;
	position:absolute;
}
