*{
margin: 0;
padding: 0;
}

body{
    margin-top: 70px;
}
html {
height: 100%;
}

img {
  width:100%;
  height:auto;
}

a {
	text-decoration:none;
  color:black;
}
a.stretched-link:hover {
  color:white;
}

a:hover {
 	color: #0000FF;
  cursor: pointer;
}
.header{
  border-bottom:none;
}


h1{
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #000;
  text-align: left;
  font-size: xx-large;
}

h2 {
font-family: neue-haas-grotesk-display, sans-serif;
font-weight: 500;
font-style: normal;  

text-align: left;
font-size: xx-large;
}

p {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #000000;
  text-align: left;
}

.smallerP{
  font-size: x-small;
}

.overlay {
  transition: .5s ease;
}
.overlay:hover {
  background-color: #000000;
  color:white;
  }
